<label for="phone_number">Phone Number</label>
{{input type="tel"
        class="edit-bar"
        id="phone_number"
        pattern="[\+]\d{1}\d{3}[\-]\d{3}[\-]\d{4}"
        placeholder="Format: +1617532-555"
        value=phone_number}}
