<div class="container-fluid">
<div class="intro">
<div class="header">
  <div class="intro-message">
  <h1>Catch Up</h1>
  <p id="intro-p">Stay in touch with your network</p>
</div>
</div>
</div>
</div>

<div class="container intro">
  <div class="site-header">
    Why Use Catch Up?
  </div>
  <div class="row site-content">
<div class="col-sm-4 col-md-4 col-lg-4 col-xlg-4">
  <div class="glyphicon glyphicon-user" aria-hidden="true">
  </div>
    <p class="column-title">Add Your Contacts</p>
    <p>
  </p>
  <p class="column-content">
    Add the contacts who are influential to your professional development.
  </p>
  </div>
<div class="col-sm-4 col-md-4 col-lg-4 col-xlg-4">
  <div class="glyphicon glyphicon-floppy-saved" aria-hidden="true">
  </div>
    <p class="column-title">Update Your Contacts</p>
    <p>
  </p>
  <p class="column-content">
    Update and save those contacts each time you catch up with them.
  </p>
  </div>
<div class="col-sm-4 col-md-4 col-lg-4 col-xlg-4">
  <div class="glyphicon glyphicon-time" aria-hidden="true">
  </div>
    <p class="column-title">Reminds you to reach out</p>
    <p>
  </p>
  <p class="column-content">
    Reminder is set for when you want to touch base with your network.
  </p>
  </div>
</div>
</div>
