<h2 class="center">Add a new contact</h2>
<div class="small-space"></div>
<div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-2">
{{add-contact user=user createContact="createContact" back="back" }}
</div>
{{outlet}}
