
<div class="header-text">
  <h2>Welcome {{user.email}} to your Contact Hub!</h2>
</div>

<h5>
{{#link-to "new-contact"}}
  <span class="add-buttons">Add a new Contact</span>
{{/link-to}}
</h5>

<div class="no-gutter clear-float test">
      {{#each model as |contact|}}
          <div class="row building-card test">{{contact-hub/card contact=contact}}</div>
      {{/each}}
  </div>

{{outlet}}
