<div class="row no-gutter clear-float test">
      {{#each model as |contact|}}
          <div class="col-md-4 building-card test">{{contact-hub/card contact=contact}}</div>
      {{/each}}
  </div>

  {{#link-to "new-contact"}}
    <button>Make that Contact</button>
  {{/link-to}}

{{outlet}}
